@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.overlay {
    position: relative;
    top: -3rem;
}

.profile-tab-content:not(:target) {
    display: none;
}

.fancy-radio-button::before {
    background-color: #9fa6b2;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 1.5rem;
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
}

.fancy-radio-button:checked::before {
    background-color: #2f8332;
}
