/*! purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/*! purgecss end ignore */
@import "tailwindcss/utilities";

.result-bar {
    background-color: #a3d9a5;
    border-radius: 0.375rem;
    height: 100%;
    left: 0;
    max-width: 0;
    position: absolute;
    top: 0;
    transition: max-width 0.5s linear;
    width: 100%;
    z-index: 0;
}

.comment::before {
    content: "";
    display: block;
    height: 90px;
    margin-top: -90px;
    position: relative;
    visibility: hidden;
    z-index: -1;
}

.overlay {
    position: relative;
    top: -3rem;
}

.fancy-radio-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1.5rem;
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    z-index: 10;
}

.fancy-radio-button::before {
    background-color: #9fa6b2;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    transition: background-color 0.15s ease-in-out;
    width: 100%;
}

.fancy-radio-button:checked::before {
    background-color: #2f8132;
}

.fancy-radio-button-wrapper:hover .fancy-radio-button::before {
    background-color: #2f8132;
}

.fancy-radio-button-placeholder {
    height: 1.5rem;
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    width: 1.5rem;
    z-index: 10;
}
